.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0px;
  .loader {
    top: 50%;
    border: 16px solid #e3e3e3;
    border-top: 16px solid #ffdf8c;
    border-radius: 50%;
    width: 140px;
    height: 140px;

    animation: spin 1s linear infinite;

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}
